body{
    margin:0;
    padding:0;
    background-size: cover;
    background-position:center;
    background-image: linear-gradient(to right, #1c92d2,#f2fcfe);
    font-family: sans-serif;
    
}

.loginbox{text-align: center;
    width: 300px;
    padding: 40px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    border-radius: 10px;
    text-align: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    text-align: center;
    margin:0;
    padding: 0;
    font-weight: bold;
    
}

.loginbox input{
    width: 100%;
    margin-bottom: 10px;
    
}

.loginbox input[type="text"], input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width:300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 16px;
}

.loginbox input[type="text"]:focus, input[type="password"]:focus
{   
    width:350px;
    border-color: #2ecc71;
}

.loginbox input[type="submit"]
{
    border: 0;
    outline: none;
    background: #1c92d2;
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px 10px;
    font-size: 18px;
    border-radius: 24px;
    transition: 0.25s;
    margin: 20px auto;
    cursor: pointer;
    width: 200px;
}


.loginbox input[type="submit"]:focus
{
    width:280px;
    border-color: #2ecc71;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: white;
    color:#1c92d2 ;   
}

/*
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107; 
}*/