{% extends "emp/emp_sidebar.html" %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: #0072ff;
}
</style>

    <div class="container shadow p-3 mb-5 bg-white rounded">
        

            <!--<div class ="row justify-content-md-center shadow p-3 mb-5 bg-white rounded">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Scan File</button>
            </div>-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"  style="text-decoration: none">Your Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"  style="text-decoration: none"> Stats</a>
  </li>
  
</ul>
        <div class="tab-content" id="myTabContent">
             <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!--<div class="title">
                    <h1 align="center">Personal Infromation</h1>
                  </div>-->
                      <div class="row justify-content-md-center">
                        <img src="{{url_for('static' ,filename='img/avatar.png')}}" width="100" height="100" style="margin:10px">
                      </div>
                      <div class="row" >
                        <table class="table table-bordered" style="text-align: center;">
                          <thead>
                            <tr>
                              <th scope="col" colspan="3">Your Information</th>         
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>Name</b></td>
                              <td id="emp_name"></td>
                            </tr>
                            <tr>                              
                              <td><b>Mobile Number</b></td>
                              <td id="emp_mobile"></td>   
                            </tr> 
                            <tr>                              
                              <td><b>Email ID</b></td>
                              <td id="emp_email"></td>   
                            </tr> 
                            <tr>                              
                              <td><b>Department ID</b></td>
                              <td id="emp_deptid"></td>   
                            </tr>
                            <tr>                              
                              <td><b>Department Name</b></td>
                              <td id="emp_deptname"></td>   
                            </tr>
                          </tbody>
                        </table>
                      </div>
              </div>


               <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-bordered" style="text-align: center;">
                          <thead>
                            <tr>
                              <th scope="col" colspan="3"><b>Stats</b></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><b>Total File</b></td>
                              <td id="total_files"></td>
                            </tr>
                            <tr>                              
                              <td><b>Completed On time Files</b></td>
                              <td id="on_t_files"></td>   
                            </tr> 
                            <tr>                              
                              <td><b>Dealyed Files</b></td>
                              <td id="delay_files"></td>   
                            </tr>
                          </tbody>
                        </table>
                        <h5 align="center" style="margin:10px;"> <b>Efficiency</b></h5>
                    <div id="processed">
                        <div id="myBar">0%</div>
                    </div>
                 </div>
        </div>
    </div>

</body>


<script >
 //  var url=localStorage.getItem("url");
  function employee_info(){
var sel=1;
  var user='{{user}}';
  console.log(user)

     $.post("{{url_for('get_emp_data_for_rating')}}",{email_id:user},
                
                function(response){
                  //check if what response is   
                    //console.log(response);
                    if(response["status"]==="1"){
                      var total = response['details']['prevFilesCount'];
                      var delayed = response['details']['prevFilesWithDelay'];
                      var percentage= ((total - delayed)/total)*100; 
                      var on_t_files=total-delayed;

                      var data = response['details']['name']+","+response['details']['dept_name']+","+response['details']['dept_id']+","+response['details']['email_id']+","+response['details']['mno']+","+total+","+delayed+","+on_t_files+","+percentage;

                      openmodal(data);
                                
                    }            
          
              },"json");

      

}
function openmodal(x){
    var emp_name= document.getElementById("emp_name");
    var emp_email=document.getElementById("emp_email");
    var emp_mobile=document.getElementById("emp_mobile");
    var emp_deptid=document.getElementById("emp_deptid");
    var emp_deptname=document.getElementById("emp_deptname");
    var total_files=document.getElementById("total_files");
    var on_t_files=document.getElementById("on_t_files");
    var delay_files=document.getElementById("delay_files");

  
  var details=x.split(',');
  console.log(details);
  emp_name.innerHTML=details[0];
  emp_email.innerHTML=details[3];
  emp_mobile.innerHTML=details[4];
  emp_deptid.innerHTML=details[2];
  emp_deptname.innerHTML=details[1];
  total_files.innerHTML=details[5];
  on_t_files.innerHTML=details[7];
  delay_files.innerHTML=details[6];
  var percentage=details[8];
  console.log(percentage);
  if(percentage!="NaN"){
    
  move(percentage);
}
else{
  move(10);
}

    
}
employee_info();
</script>
<script type="text/javascript">

function move(m) {
  var i = 0;
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 0;
    var id = setInterval(frame, 25);
    function frame() {
      if (width >= m) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width  + "%";
      }
    }
  }
}

</script>
{% endblock %}
