{% extends "admin_sidebar.html" %}
{% block body %}


    <script> 
        function printDiv() { 
            var divContents = document.getElementById("barcode").innerHTML; 
            var a = window.open('', '', 'height=500, width=500'); 
            a.document.write('<html>'); 
            a.document.write('<body > <h3>File Barcode:</h3> <br>'); 
            a.document.write(divContents); 
            a.document.write('</body></html>'); 
            a.document.close(); 
            a.print(); 
            window.location.reload();
        } 
        

    </script> 




  	<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p id="add_file">ADD FILE</p>
                </div>
                <form action="" method="post">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-3 align-self-center"></div>
                        <div class="col-md-6 align-self-center">
                            <div class="form-group">
                                <select type="text" class="form-control" placeholder="Application ID" id="appid" value="" required style="height: 48px;" >
                                <option id="sih_choose_app_id">Choose Application ID</option>
                                </select>
                                
                            </div>
                            </div>
                        <div class="col-md-3 align-self-center"></div>
                    </div>     
                      <div class="row" style="margin-top: 20px">  
                        <div class="col-md-6 text-center">
                          <!-- <button type="button" class="btnSubmit" style="width: auto; padding: 0.5rem;" onclick="get_barcode();">Generate Barcode &  Save</button>-->
                            <button type="button"class="btn btn-primary" class="sih_qr_code" id="gen_code2" onclick="get_qrcode();">Generate Qrcode &  Save</button>
                        </div>
                          <div class="col-md-6 text-center">
                          <!-- <button type="button" class="btnSubmit" style="width: auto; padding: 0.5rem;" onclick="get_barcode();">Generate Barcode &  Save</button>-->
                            <button type="button"class="btn btn-primary" class="sih_bar_code" id="gen_code1" onclick="get_barcode();">Generate Barcode &  Save</button>
                        </div>
                    </div>
                    
                    <div class="row" style="text-align: center; margin-top: 20px">
                        
                    
                        <div class="col-md-12 text-center">
                            <div id = "barcode"></div>
                            <div id = "barcodeID" style="font-weight: bold"></div>
                            <div id ="Success"></div>
                        </div>
                    
                    
                    
                    </div>
                    
                    <div class="row"  style="text-align: center; margin-top: 20px">
                        <div class="col-md-5 align-self-center"></div>
                        <div class="col-md-2 text-center" style="vertical-align: middle; text-align: center">
             
                        <button id="printbtn" type="button"class="btn btn-primary" onclick="printDiv()" style="display: none"><i class="fas fa-print" id="prit"> Print</i></button>
                        </div>
                        <div class="col-md-5 text-center" style="vertical-align: middle; text-align: center">  </div>
                        
                    <div class="col-md-4 align-self-center"></div>    
                </div>
                    </div>
                </form>
        </div>
           
        </div>

<div class="row">
    <div class="col-md-3 align-self-center"></div>  
  <div class="col-md-3 justify-content-center">
  <!-- Add direct assign button-->
      <button id="auto_asign" changes="0" type="button" class="btn btn-primary"onclick="update_Stage_details(this)" style="display: none">Auto Assign Employee</button>
  </div>
  <div class="col-md-3 justify-content-center">
  <!-- Paste Modal button -->
      <button id="update_stage_btn" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="" style="display: none">Update Stage Details </button>
  </div>
     <div class="col-md-3 align-self-center"></div> 
</div>

<div class="row" style="margin-top: 25px; margin-bottom: 25px; text-align: center; font-size: 20px;font-weight: bold">
     <div class="col-md-6 justify-content-center" id="filesend_success"></div> 
     <div class="col-md-6 justify-content-center" id="filesend_to"></div> 
</div>


<!-------------------------Modal for Update stage details----------------->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Stage Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
          <table class="table" id="stageDetailstable" style="font-size: 18px;">
              <thead>
                  <tr>
                      <th scope="col"><i class="fas fa-stream" title="Stage No."> Stage No.</i></th>
                      <th scope="col"><i class="fas fa-building" title="Department ID"> Dept ID</i></th>
                      <th scope="col"><i class="fas fa-building" title="Department Name"> Dept Name</i></th>
                      <th scope="col"><i class="fas fa-clock" title="Number of Days to complete"> No. of Days</i></th>

                </tr>
              </thead>
              <tbody id='stageTablebody'>
        
              </tbody>
        </table>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" changes="1" data-dismiss="modal" onclick="update_Stage_details(this)">Update changes</button>
      </div>
  
    </div>
  </div>
</div>

<!--  update stage function-->


<script>
 
 
var codeString;

function update_Stage_details(a){
    
    var finaljson;
    var dataString;
    var selectedEmps = document.getElementsByClassName("select_emp");
    var changed = a.getAttribute("changes");
    
    console.log("*******");
    console.log(codeString);
    
    if(changed == "1"){
        
        var info =[];
        
        for(var i=0; i<selectedEmps.length; i++){
        
            console.log("===============");
            if(selectedEmps[i].value !="Select Employee"){
            
                dataString={"email_id":selectedEmps[i].value,"dept_id":selectedEmps[i].getAttribute("departmentName")}; 
            
            }else{
            
                dataString={"email_id":"","dept_id":selectedEmps[i].getAttribute("departmentName")};
            
            }     
            info.push(dataString);    
       
        }
        
        
        finaljson = {fid:codeString,"altered":changed,"details":info};
        console.log(finaljson);
           
     }
     else{
        
        finaljson = {fid:codeString,"altered":changed,"details":""};
        console.log(finaljson);
        
     }
    
/*    $.post("",{updateStage:finaljson},*/
           
        $.post("{{url_for('backendapp.update_stagelist')}}",{fid:finaljson["fid"],altered:finaljson["altered"],details:JSON.stringify(finaljson["details"])},            
            function(response){
                
                if(response["status"]=="1"){
                    
                    console.log(response);
                    
                    document.getElementById("filesend_to").innerHTML = "File Assigned to: "+response["sentTo"];
                    document.getElementById("filesend_to").style.color= "green";
                    
                    document.getElementById("filesend_success").innerHTML="File Assigned Successfully!";
                    document.getElementById("filesend_success").style.color = "green";
                    console.log("file assigned successfully");  
                }
    
    
              },"json");
       

}

</script>

<!--  update stage function-->

<!-------------------------Modal for Update stage details----------------->
  		
<script type="text/javascript">
    


    
    
    function get_barcode() {
            var xmlhttp = new XMLHttpRequest();
            var application = document.getElementById('appid');
            var val = document.getElementById("barcode");
            var label = document.getElementById("Success");
            label.innerHTML="";
            val.innerHTML="";
        
            value = $("#appid").val();
            console.log("File Type " + value)
        
           /* var x = localStorage.getItem("url");*/
        
            if(value == "Choose Application ID"){
                console.log("No value")
                 document.getElementById("Success").innerHTML = '<p type="text" id="Success" style="color: red; padding: 35px 70px;" >Please Select Application ID</p> ';
            }
               
            var dataString = 'q=' +value;
              $.ajax({
                type: "GET",
                url: "{{url_for('backendapp.generate_barcode')}}",
                data: dataString,
                cache: false,
                success: function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        
                        realData = response["image"];
                        val.innerHTML="<img src='data:image/png;base64,"+realData+"'/>";
                        
                        document.getElementById("barcodeID").style.display ="none";
                        var printbtn =document.getElementById("printbtn");
                        printbtn.style.display="block";
                        
                        //for generation of barcode update stage btn will be displayed 
                        document.getElementById("update_stage_btn").style.display ="block";
                        document.getElementById("auto_asign").style.display ="block";
                        load_stage_details(response);
                        
                           codeString = response["code_string"];
                        console.log(codeString);
                        
                        document.getElementById("filesend_to").innerHTML= "";
                        document.getElementById("filesend_success").innerHTML = "";

                    }
                    
                    //alert(response);
                } 
              });
            
                
            }
    
     function get_qrcode() {
            var xmlhttp = new XMLHttpRequest();
            var application = document.getElementById('appid');
            var val = document.getElementById("barcode");
            var label = document.getElementById("Success");
            label.innerHTML="";
            val.innerHTML="";
        
            value = $("#appid").val();
            console.log("File Type " + value)
        
           /* var x = localStorage.getItem("url");*/
        
            if(value == "Choose Application ID"){
                console.log("No value")
                 document.getElementById("Success").innerHTML = '<p type="text" id="Success" style="color: red; padding: 35px 70px;" >Please Select Application ID</p> ';
            }
               
            var dataString = 'q=' +value;
              $.ajax({
                type: "GET",
                url: "{{url_for('backendapp.generate_qrcode')}}",
                data: dataString,
                cache: false,
                success: function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        
                        realData = response["image"];
                        val.innerHTML="<img src='data:image/png;base64,"+realData+"'/>";
                        
                        document.getElementById("barcodeID").style.display = "block";
                        document.getElementById("barcodeID").innerHTML = response["code_string"];
                        
                        document.getElementById("printbtn").style.display ="block";
                        //for generation of barcode update stage btn will be displayed 
                        document.getElementById("update_stage_btn").style.display ="block";
                         document.getElementById("auto_asign").style.display ="block";
                        load_stage_details(response);
                        
                        codeString = response["code_string"];
                        console.log(codeString);
                        
                        document.getElementById("filesend_to").innerHTML= "";
                        document.getElementById("filesend_success").innerHTML = "";

                    }
                    
                    //alert(response);
                } 
              });
            
                
            }
    
    
function load_stage_details(data){

    console.log("load stage function called");
    console.log(data["stageList"]);
    
    var stageTable = document.getElementById("stageTablebody");
    var html = "";
    
    for(var i=0;i<data["stageList"].length;i++){
        
        var di = data["stageList"][i]["dept_id"];
        
        var emps = '<select departmentName='+ di +' class="form-control select_emp" style="height: 45px" ><option selected disabled>Select Employee</option>';
        
        for(var j=0; j<data["dept_emps"][di].length;j++){
            
          emps = emps + '<option value='+data["dept_emps"][di][j]["email_id"]+'>'+data["dept_emps"][di][j]["email_id"]+'</option>';
            
        }
        
        emps = emps + '</select>';
        
        
        
       html = html + '<tr>\
                        <td>'+(i+1)+'</td>\
                        <td>'+data["stageList"][i]["dept_id"]+'</td>\
                        <td>'+data["stageList"][i]["dept_name"]+'</td>\
                        <td>'+emps+'</td>\
                        </tr>'; 
        
        
        
    }
    
    stageTable.innerHTML= html;


}  
    
    
    
    
    
    
        
</script>

<script>

function loaddepts(){
        
        
        
    var select =  document.getElementById("appid");  
      
      console.log("calllled");
       $.post("{{url_for('backendapp.get_app_types')}}",
                
                function(response){
                  //check if what response is 
           
                    
                var details = response["appids"];
                
                    console.log(details);
                
           
                     for(var i = 0;i < details.length;i++)
                     {
                         var opt = details[i]['appname']+' ('+details[i]['appid']+')';
                         
                         var el = document.createElement("option");
                         el.textContent = opt;
                       //  el.value = opt;
                         el.value = details[i]['appid'];
                    
                         select.appendChild(el);
                     }

                    
                    //alert(response);
                
              },"json");
  
}
    
    loaddepts();

</script>


<script src="{{ url_for('adminapp.static',filename='js/change_language.js')}}"></script>
 <script type="text/javascript">
      var lang = sessionStorage.getItem("lang");
      if(lang === "nepali"){
                change_lang();
                }
      function change_lang(){
          add_file.innerHTML = language.nep.add_file;
          gen_code1.innerHTML = language.nep.sih_barcode;
          prit.innerHTML = language.nep.print;
          sih_choose_app_id.innerHTML = language.nep.sih_c_app_id;
          gen_code2.innerHTML = language.nep.sih_qr;
          

          
          
          
          
          
      }
 </script>

{% endblock %}