{% extends "admin_sidebar.html" %}
{% block body %}


    <script> 
        function printDiv() { 
            var divContents = document.getElementById("barcode").innerHTML; 
            var a = window.open('', '', 'height=500, width=500'); 
            a.document.write('<html>'); 
            a.document.write('<body > <h3>File Barcode:</h3> <br>'); 
            a.document.write(divContents); 
            a.document.write('</body></html>'); 
            a.document.close(); 
            a.print(); 
            window.location.reload();
        } 
        

    </script> 




  	<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>ADD FILE</p>
                </div>
                <form action="" method="post">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="form-group">
                                <select type="text" class="form-control" placeholder="Application ID" id="appid" value="" required style="height: 48px;" >
                                <option>Choose Application ID</option>
                                </select>
                                
                            </div>
                            </div>
                            
                        
                        <div class="col-md-6 text-center">
                          <!-- <button type="button" class="btnSubmit" style="width: auto; padding: 0.5rem;" onclick="get_barcode();">Generate Barcode &  Save</button>-->
                            <button type="button"class="btn btn-primary" onclick="get_barcode();">Generate Barcode &  Save</button>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6 text-center">
                         <div id = "barcode"></div>
                         <div id ="Success"></div>
                    </div>
                    <div class="col-md-6 text-center" style="vertical-align: middle">
                     <!--<button type="button" class="btnSubmit" style="width: 100px; padding: 0.6rem; vertical-align: middle;" onclick="printDiv()">Print</button>-->
                        <button type="button"class="btn btn-primary" onclick="printDiv()">Print</button>
                    </div>
                </div>
                    </div>
                </form>
        </div>
           
        </div>

  		
<script type="text/javascript">
    function get_barcode() {
            var xmlhttp = new XMLHttpRequest();
            var application = document.getElementById('appid');
            var val = document.getElementById("barcode");
            var label = document.getElementById("Success");
            label.innerHTML="";
            val.innerHTML="";
        
            value = $("#appid").val();
            console.log("File Type " + value)
        
           /* var x = localStorage.getItem("url");*/
        
            if(value == "Choose Application ID"){
                console.log("No value")
                 document.getElementById("Success").innerHTML = '<p type="text" id="Success" style="color: red; padding: 35px 70px;" >Please Select Application ID</p> ';
            }
               
            var dataString = 'q=' +value;
              $.ajax({
                type: "GET",
                url: "{{url_for('backendapp.generate_barcode')}}",
                data: dataString,
                cache: false,
                success: function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        
                        realData = response["image"];
                        val.innerHTML="<img src='data:image/png;base64,"+realData+"'/>";

                    }
                    
                    //alert(response);
                } 
              });
            
                
            }
        
</script>

<script>

function loaddepts(){
        
        
        
    var select =  document.getElementById("appid");  
      
      console.log("calllled");
       $.post("{{url_for('backendapp.get_app_types')}}",
                
                function(response){
                  //check if what response is 
           
                    
                var details = response["appids"];
                
                    console.log(details);
                
           
                     for(var i = 0;i < details.length;i++)
                     {
                         var opt = details[i]['appname']+' ('+details[i]['appid']+')';
                         
                         var el = document.createElement("option");
                         el.textContent = opt;
                       //  el.value = opt;
                         el.value = details[i]['appid'];
                    
                         select.appendChild(el);
                     }

                    
                    //alert(response);
                
              },"json");
  
}
    
    loaddepts();



</script>

{% endblock %}