{% extends "admin_sidebar.html" %}
{% block body %}

<!-- get_dept_ids -->
    
    
   <form action="" method="post">
  	<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p id="add_emp">ADD Employee</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name" name = "fname" id = "fname" value="" onkeyup="enable_add()" required />
                            </div>
                            <div class="form-group">
                                <input id = "txtEmail" type="email" class="form-control" placeholder="Email ID" name="email" required />
                            </div>
                            <div class="form-group">
                                <!--<input type="text" class="form-control" placeholder="Department ID" name = "dept_id" id = "dept_id" value="" onkeyup="enable_add()" required/>-->
                                <select class="form-control" id="dept_id" onchange="" style="height: 45px">
                                    <option value="" disabled selected>Select Department</option>
                                    <!--    <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option> -->
                                </select>
                                
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name " value="" id = "lname" name = "lname" onkeyup="enable_add()" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" value="" name = "pword" id = "pword" onkeyup="enable_add()" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="conPass" placeholder="Confirm Password" value="" onkeyup="enable_add()" required/>
                            </div>
                        </div>
                        
                         <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Mobile Number" value="" name = "mno" id = "mno" onkeyup="enable_add()" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                         <label type="text" id="error" ></label>   
                        </div>
                    </div>
                    <div class="col-md-12 text-center"> <!-- btn btn-primary btn-lg disabled -->
                    <button type="submit"class="btn btn-primary disabled" role="button" aria-disabled="true" id="add"><i class="fas fa-plus" title="Add"> Add Employee</i></button>
                    </div>
                </div>
                </div>
                
                </div>
            
        
    </form>
  		
	<script language="javascript">
        document.getElementById("txtEmail").addEventListener("focusout", validate_email);
        var email_valid = false
        function validate_email() {
            var xmlhttp = new XMLHttpRequest();

            var email = document.getElementById('txtEmail');
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if (!filter.test(email.value)) {
                //alert('Please provide a valid email address');
                email.focus;
                return false;
            }
            else{
                value = $("#txtEmail").val(); 
                console.log(value);
               
                  var dataString = 'q=' +value;
             /*     var x = localStorage.getItem("url");*/
                  $.ajax({
                    type: "GET",
                    url: "{{url_for('backendapp.chk_email')}}",
                    data: dataString,
                    cache: false,
                    success: function(response){
                      //check if what response is   
                        console.log(response);
                        if(response==="1"){
                            document.getElementById("txtEmail").style.border = "1px solid green"
                            document.getElementById("error").innerHTML = ""
                            email_valid = true;
                            enable_add();

                        }
                        else{
                            document.getElementById("txtEmail").style.border = "1px solid Red"
                            document.getElementById("error").style.color ="red";
                            document.getElementById("error").innerHTML = "Email already exist"
                        }
                        //alert(response);
                    } 
                  });
            
                
            }
        }
        
        
      /*  var url= localStorage.getItem("url");*/ 
        var add = document.getElementById("add");
        
        function enable_add(){
            var dept_id = document.getElementById("dept_id").value;
            var fname = document.getElementById("fname").value;
            var lname = document.getElementById("lname").value;
            
            var pword = document.getElementById("pword").value;
            var mno = document.getElementById("mno").value;
        if(dept_id && fname && lname && pword && mno && email_valid == true){
            add.setAttribute("class","btn btn-primary active");
            add.setAttribute("aria-disabled",false);
            

        }
}
        
        
        $("#add").on("click",function myfunct(e){
            if(add.getAttribute("aria-disabled") == "false"){
            e.preventDefault();
            var dept_id = document.getElementById("dept_id");
            var fname = document.getElementById("fname");
            var lname = document.getElementById("lname");
            var email = document.getElementById("txtEmail");
            var pword = document.getElementById("pword");
            var mno = document.getElementById("mno");
            var conPass = document.getElementById("conPass");
            //console.log(dept_id);
            $.post("{{url_for('backendapp.emp_create')}}",{dept_id:dept_id.value,fname:fname.value,lname:lname.value,email:email.value,pword:pword.value,mno:mno.value},
                
                function(response){
        
                    console.log(response);
                    if(response == "1"){
                        console.log("b"+response);
                        document.getElementById("error").innerHTML = '<p type="text" id="Success" style="color: green;" >Employee Added Successfully!</p> ';
                         }
                    
                    
                    else{
                        document.getElementById("error").innerHTML = '<p type="text" id="Success" style="color: red;" >Oops, Something went wrong!</p> ';
                    }
                    
                    dept_id.value = "";
                    fname.value= "";
                    lname.value = "";
                    email.value = "";
                    pword.value = "";
                    mno.value="";
                    conPass.value="";

                    email.style.border = "1px solid #ced4da"

                    add.setAttribute("class","btn btn-primary disabled");
                    add.setAttribute("aria-disabled",true);
                
              },"json"); 
            }
            else{
                console.log("ADD disabled")
            }
            
        });
            
        
    
    
    
    </script>


<script src="{{ url_for('adminapp.static',filename='js/change_language.js')}}"></script>
 <script type="text/javascript">
      var lang = sessionStorage.getItem("lang");
      if(lang === "nepali"){
                change_lang();
                }
      function change_lang(){
          add_emp.innerHTML = language.nep.add_emp;
          add.innerHTML = language.nep.add_emp;
          
          
          
          
      }
 </script>


<!-- ----------------------------- script for loading dpartment nmaes--------------->


<script>

function loadDropDown()
{
    
  var dropdown=document.getElementById("dept_id");
  $.post("{{url_for('backendapp.get_dept_ids')}}",
                
                function(response){
                  //check if what response is 
           
                    
                var details = response["dept_ids"];
                
                    console.log(details);
                
                    
 
                     for(var i = 0;i < details.length;i++)
                     {
                         var opt = details[i]['dept_name']+' ('+details[i]['dept_id']+')';
                         var el = document.createElement("option");
                         el.textContent = opt;
                         el.value =details[i]['dept_id'];
                         dropdown.appendChild(el);
                     }

                    
                    //alert(response);
                
              },"json");
}
loadDropDown();



</script>




<!-- ----------------------------- script for loading dpartment nmaes---------------->


{% endblock %}

