{% extends "admin_sidebar.html" %}
{% block body %}

  
<!--END Script for add new row for a file--> 


<body>
  <style type="text/css">
    #error_show{
      display: none;
    }
  </style>
   <script src="https://code.jquery.com/jquery-git.js"></script>
    <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>DELAYED FILES</p>
                </div>

                <div class="form-content">






                <div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded font-weight-light" style="font-style:Andale ; font-size: 30px;">
                        <select class="form-control" id="sel1" onchange="myFunction()" style="height: 45px">
                          <option value="" disabled selected>Select Department</option>
                                <!-- <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option> -->
                              </select>
                                  </div>





                        <!--Table-->
                        <div class="container shadow p-3 mb-5 bg-white rounded">
		
			<table class="table" id="worktable" style="font-size: 16px;">
		  <thead>
		    <tr>
		      <th scope="col">FileID</th>
		      <th scope="col">Arrival Time</th>
		      <th scope="col">Current Dept</th>
		      <th scope="col">Current Employee</th>
		   
		    </tr>
		  </thead>
		  <tbody>
	
		  </tbody>
		</table>

</div>

<div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded font-weight-light" style="font-style:Andale ; font-size: 30px;margin:auto" id="error_show"><p align="center">No Records to Show</p></div>
                    
                    
                </div>
            </div>
        </div>
    

    
   

  		


</body>
    <script>

   function myFunction() {
 // var url=localStorage.getItem("url");
  //var xmlhttp = new XMLHttpRequest();

   var sel1 = document.getElementById("sel1").value;
  console.log("selected option:"+sel1);
  var table = document.getElementById("worktable");
  $("#worktable").find("tr:gt(0)").remove();

      console.log(table);
      $.get("{{url_for('backendapp.get_delayed_files')}}",{},
                
                function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        var i=0;

                        var delaycnt =response["details"]["delayed_files"];
                         console.log(delaycnt.length);

                        for(i = 0; i < delaycnt.length; i++){
                          if (delaycnt[i]["currDept"] ==sel1){
                        var row = table.insertRow(1);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
      
                        
                        cell1.innerHTML = delaycnt[i]['fid'];
                        cell2.innerHTML = delaycnt[i]["timeCreated"];
                        cell3.innerHTML = delaycnt[i]["currDept"];
                        cell4.innerHTML = delaycnt[i]["currEmp"];
                        //loadfiles();
                        continue;
                      }

                      }
                    }

                    if(table.rows.length <=1){
                      console.log("table length :"+table.rows.length)
                      document.getElementById('error_show').style.display="block";
                    }
                    if(table.rows.length >1){
                      console.log("table length :"+table.rows.length)
                      document.getElementById('error_show').style.display="none";
                    }
                    
                    //alert(response);
                
              },"json");
  
}
  myFunction(); 




function loadDropDown()
{
  var dropdown=document.getElementById("sel1");
  $.post("{{url_for('backendapp.get_dept_ids')}}",
                
                function(response){
                  //check if what response is 
           
                    
                var details = response["dept_ids"];
                
                    console.log(details);
                
                    
 
                     for(var i = 0;i < details.length;i++)
                     {
                         var opt = details[i]['dept_name']+' ('+details[i]['dept_id']+')';
                         var el = document.createElement("option");
                         el.textContent = opt;
                         el.value =details[i]['dept_id'];
                         dropdown.appendChild(el);
                     }

                    
                    //alert(response);
                
              },"json");
}
loadDropDown();
   
    </script>




{% endblock %}


