{% extends "admin_sidebar.html" %}
{% block body %}

	<div class="form">
            <div class="note">
                <p id="s_file">SEARCH EMPLOYEE</p>
            </div>
                <div class="form-content">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="apidin" class="form-control" placeholder="Enter Emplyee Id eg.abc@gmail.com" value="" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="">
                                <button type="button" class="btn btn-primary"  onclick="myfunctinp()"><i class="fas fa-search" title="Search File" id="srch"> Search</i></button>
                            </div>    
                        </div>
                	</div>
            	</div>
        </div>


<div class="container shadow-lg justify-content-md-center" id="mainbox" style="background-color: white; width:80%;display: none">
        <div class="row justify-content-md-center">
        <img src="{{url_for('static' ,filename='img/avatar.png')}}" width="100" height="100" style="margin:10px">
      	</div>
                      
                        <table class="table table-bordered justify-content-center" align="center" style="text-align: center;font-size: 15px;width: 100%">
                          <thead>
                            <tr>
                              <th scope="col" colspan="3"><b> Employee Information<b></th>         
                            </tr>
                          </thead>
                          <tbody id="tablecontent">
                           

                          </tbody>
                        </table>
                    <br>
                    <br>
              

</div>

<script type="text/javascript">
	function myfunctinp() {
		console.log("hello");
		var email = document.getElementById('apidin').value;
		console.log(email)

		 $.get("{{url_for('backendapp.emp_search')}}",{q:email},
                
                function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]=="1"){
                      //console.log(response)
            

                       var html= '<tr>\
                              <td><b> Employee Name</b></td>\
                              <td id="emp_name"><b>Mr/Mrs . '+response["details"]["fname"]+'  '+response["details"]["lname"]+'</b></td>\
                            </tr>\
                            <tr>                         \
                              <td><b>Mobile Number</b></td>\
                              <td id="emp_mobile"><b>'+response["details"]["mno"]+'</b></td>   \
                            </tr> \
                            <tr>                              \
                              <td><b>Email ID /Employee ID</b></td>\
                              <td id="emp_email"><b>'+response["details"]["email_id"]+'</b></td>  \
                            </tr> \
                            <tr>                             \
                              <td><b>Department ID</b></td>\
                              <td id="emp_deptid"><b>'+response["details"]["dept_id"]+'</b></td>   \
                            </tr>\
                            <tr>                             \
                              <td><b>Department Name</b></td>\
                              <td id="emp_deptname"><b>'+response["details"]["dept_name"]+'</b></td>   \
                            </tr>\
                            <tr>                              \
                              <td><b>Joined Organisation</b></td>\
                              <td id="emp_join"><b>'+response["details"]["date_created"]+'</b></td>   \
                            </tr>';
                            document.getElementById('mainbox').style.display = "block"
                            document.getElementById('tablecontent').innerHTML=html;

                                
                    } 

                    else{
                    	document.getElementById('mainbox').style.display = "block"
                    	document.getElementById('tablecontent').innerHTML='<tr><th style="color:red"><b>NO Employee Found with ID '+email+'</b></th></tr>'
                    }           
          
              },"json");

	}
</script>



<script src="{{ url_for('adminapp.static',filename='js/change_language.js')}}"></script>
 <script type="text/javascript">
      var lang = sessionStorage.getItem("lang");
      if(lang === "nepali"){
                change_lang();
                }
      function change_lang(){
          srch.innerHTML = language.nep.search;
          s_file.innerHTML = language.nep.emp_search;
          
          
          
          
          
      }
 </script>

{% endblock %}