{% extends "admin_sidebar.html" %}
{% block body %}

<style type="text/css">
    #error_show{
      display: none;
    }
</style>
  
<script src="https://code.jquery.com/jquery-git.js"></script>

    
<body>
  
    <div class="container register-form" >
            <div class="form">
                <div class="note">
                    <p id="p_file">PROCESSING FILES</p>
                </div>

                <div class="form-content">

                  <div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded font-weight-light" style="font-style:Andale ; font-size: 30px;">
        <select class="form-control" id="sel1" onchange="myFunction()" style="height: 45px">
          <option value="" disabled selected>Select Department</option>
                <!-- <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option> -->
              </select>
                  </div>
                    
                    <div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded font-weight-light" style="font-style:Andale ; font-size: 30px;margin:auto">
                        
                        <!--Table-->
                        
                        <table class="table" id="worktable" style="font-size: 16px; text-align: center">
		              <thead>
                          <tr>
                              <th scope="col"><i class="fas fa-file-alt" id="f_id"> File ID</i></th>
                              <th scope="col"><i class="fas fa-clock" id="a_time"> Arrival Time</i></th>
                              <th scope="col"><i class="fas fa-building" id="c_dept"> Current Dept</i></th>
                              <th scope="col"><i class="fas fa-user-tie" id="c_emp"> Current Employee</i></th> 
                          </tr>
                            </thead>
                            <tbody>
		    
                            </tbody>
		              </table>        
                    
                    </div>

 

<div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded font-weight-light" style="font-style:Andale ; font-size: 30px;margin:auto" id="error_show"><p align="center" id="no_r">No Records to Show</p></div>
  
                    
                </div>
            </div>
        </div>
</body>


<!--Script for add new row for a file-->
<script>

function myFunction() {
  //var url=localStorage.getItem("url");
  //var xmlhttp = new XMLHttpRequest();
  var sel1 = document.getElementById("sel1").value;
  console.log("selected option:"+sel1);
  var table = document.getElementById("worktable");
  $("#worktable").find("tr:gt(0)").remove();
      //console.log(table);
console.log(table);
      $.get("{{url_for('backendapp.get_processing_files')}}",{},
                
                function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        
                        var processcnt =response["details"]["processing_files"];
                       


                        for(var i = 0; i < processcnt.length; i++){

                          if (processcnt[i]["currDept"] == sel1){
                          //showing records for department matches
                        var row = table.insertRow(1);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
      
                        
                        cell1.innerHTML = processcnt[i]['fid'];
                        cell2.innerHTML = processcnt[i]["timeCreated"];
                        cell3.innerHTML = processcnt[i]["currDept"];
                        cell4.innerHTML = processcnt[i]["currEmp"];
                        continue;
                      }

                      
                      }
                    }
                    
                    if(table.rows.length <=1){
                      console.log("table length :"+table.rows.length)
                      document.getElementById('error_show').style.display="block";
                    }
                    if(table.rows.length >1){
                      console.log("table length :"+table.rows.length)
                      document.getElementById('error_show').style.display="none";
                    }
                
              },"json");

  
}
myFunction(); 

function loadDropDown()
{
  var dropdown=document.getElementById("sel1");
  $.post("{{url_for('backendapp.get_dept_ids')}}",
                
                function(response){
                  //check if what response is 
           
                    
                var details = response["dept_ids"];
                
                    console.log(details);
                
                    
 
                     for(var i = 0;i < details.length;i++)
                     {
                         var opt = details[i]['dept_name']+' ('+details[i]['dept_id']+')';
                         var el = document.createElement("option");
                         el.textContent = opt;
                         el.value =details[i]['dept_id'];
                         dropdown.appendChild(el);
                     }

                    
                    //alert(response);
                
              },"json");
}
loadDropDown();
   
</script>

<script src="{{ url_for('adminapp.static',filename='js/change_language.js')}}"></script>
 <script type="text/javascript">
      var lang = sessionStorage.getItem("lang");
      if(lang === "nepali"){
                change_lang();
                }
      function change_lang(){
          p_file.innerHTML = language.nep.process_files;
          f_id.innerHTML = language.nep.file_id;
          a_time.innerHTML = language.nep.arr_time;
          c_dept.innerHTML = language.nep.curr_dept;
          c_emp.innerHTML = language.nep.curr_emp;
          no_r.innerHTML = language.nep.no_r;
        
          
          
          
          
      }
 </script>

{% endblock %}
