<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
 <!--    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>-->
  <script src="{{ url_for('empapp.static',filename='js/jquery-3.4.1.js')}}"></script>
    <script src="{{ url_for('static',filename='js/link.js')}}"></script>
    
    

     <link rel="stylesheet" type="text/css" href="{{ url_for('empapp.static',filename='css/bootstrap.css')}}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/Sidebarstyle.css')}}">

     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js')}}"></script>  -->
   
  <style type="text/css">
    #processed{
  width: 100%;
  background-color: #ddd;
}
#myBar{
  width: 0%;
  height: 30px;
  background-color: #0072ff;
  text-align: center;
  line-height: 30px;
  color: white;
}
  </style>

  <title>HR Transparency System</title>

</head>

<body>

    
  <header class="cd-main-header js-cd-main-header">
    <div class="cd-logo-wrapper">
      <a href="#0" class="cd-logo"><img src="{{ url_for('static',filename='img/logo2.png')}}" alt="LTI mployee"></a>
    </div>
    <div class="cd-search js-cd-search" style="display: none;">
      <!--<form>
        <input class="reset" type="search" placeholder="Search...">
      </form>-->
    </div>
  
    <button class="reset cd-nav-trigger js-cd-nav-trigger" aria-label="Toggle menu"><span></span></button>
  
    <ul class="cd-nav__list js-cd-nav__list">
   <!--   <li class="cd-nav__item"><a href="#0">Tour</a></li>-->
        <li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
        <a href="#0">
          <img src="{{ url_for('static',filename='img/notif_small.png')}}" alt="avatar">
          <span>Notifications</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="cd-count" id="notifycnt" style="display: none;"></span>
        </a>
            

    <!-- Notification -->
        <div style="">
        <ul class="cd-nav__sub-list mh-500" style="width: 400px; color: aliceblue; padding: 15px; max-height: 500px;overflow: auto;" id="notify">
          <button style="margin: 10px;" onclick="markallread()"> Mark all Read</button>
        </ul>
        </div>
      </li>
        
        
      <li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account js-cd-item--has-children">
        <a href="#0">
          <img src="{{ url_for('static',filename='img/cd-avatar.svg')}}" alt="avatar">
          <span>Account</span>
        </a>
    
        <ul class="cd-nav__sub-list" style="width: 300px;">
          <!--<li class="cd-nav__sub-item"><a href="#0">My Account</a></li>
          <li class="cd-nav__sub-item"><a href="#0">Edit Account</a></li>-->
          <li class="cd-nav__sub-item" style="color: white; padding: -2px;"><a href="{{url_for('empapp.empProfile', email = email)}}">{{email}}</a></li>
          <li  class="cd-nav__sub-item"><a href="{{url_for('empapp.emplogout', email = email)}}">Logout</a></li>
        </ul>
      </li>
    </ul>
  </header> <!-- .cd-main-header -->
    
  
  
  <main class="cd-main-content">
    <nav class="cd-side-nav js-cd-side-nav">
      <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Main</span></li>
        <li class="cd-side__item cd-side__item--has-children cd-side__item--overview js-cd-item--has-children">
          <a href="{{ url_for('empapp.empDash', email = email)}}">Overview</a>
          
          <!--<ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Data</a></li>
            <li class="cd-side__sub-item"><a href="#0">Category 1</a></li>
            <li class="cd-side__sub-item"><a href="#0">Category 2</a></li>
          </ul>-->
        </li>

        <li class="cd-side__item cd-side__item--has-children cd-side__item--notifications cd-side__item--selected js-cd-item--has-children">
          <!--<a href="#0">Notifications<span class="cd-count">3</span></a>-->
          
          <ul class="cd-side__sub-list">
           <!-- <li class="cd-side__sub-item"><a aria-current="page" href="#0">All Notifications</a></li>-->
            <li class="cd-side__sub-item"><a href="{{ url_for('empapp.empworkStatus', email = email)}}">Work Status</a></li>
            <!--<li class="cd-side__sub-item"><a href="#0">Other</a></li>-->
          </ul>
        </li>
    
       <!-- <li class="cd-side__item cd-side__item--has-children cd-side__item--comments js-cd-item--has-children">
          <a href="#0">Comments</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Comments</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit Comment</a></li>
            <li class="cd-side__sub-item"><a href="#0">Delete Comment</a></li>
          </ul>
        </li>-->
      </ul>
    
     <!-- <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Secondary</span></li>
        <li class="cd-side__item cd-side__item--has-children cd-side__item--bookmarks js-cd-item--has-children">
          <a href="#0">Bookmarks</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Bookmarks</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit Bookmark</a></li>
            <li class="cd-side__sub-item"><a href="#0">Import Bookmark</a></li>
          </ul>
        </li>

        <li class="cd-side__item cd-side__item--has-children cd-side__item--images js-cd-item--has-children">
          <a href="#0">Images</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Images</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit Image</a></li>
          </ul>
        </li>
    
        <li class="cd-side__item cd-side__item--has-children cd-side__item--users js-cd-item--has-children">
          <a href="#0">Users</a>
          
          <ul class="cd-side__sub-list">
            <li class="cd-side__sub-item"><a href="#0">All Users</a></li>
            <li class="cd-side__sub-item"><a href="#0">Edit User</a></li>
            <li class="cd-side__sub-item"><a href="#0">Add User</a></li>
          </ul>
        </li>
      </ul>-->
    
     <!-- <ul class="cd-side__list js-cd-side__list">
        <li class="cd-side__label"><span>Action</span></li>
        <li class="cd-side__btn"><button class="reset" href="#0">+ Button</button></li>
      </ul>-->
    </nav>
  
    <div class="cd-content-wrapper" style="padding: 20px">
      <!--<div class="text-component text-center">
        <h1>Inside Area</h1>
        <p>👈<a href="https://codyhouse.co/gem/responsive-sidebar-navigation">Article &amp; Download</a></p>
      </div>-->
        
        {% block body %}
        {% endblock %}
        
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
    
    
    <!-- Modal for Notification-->
<!-- Modal -->
<div class="modal fade" id="notificationModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Message</h5>
        
      </div>
      <div class="modal-body">
            <div id="messageText">
            
            </div>
            <div id="timeCreated">
                Time : <span id="timeCreatedText"></span>
            </div>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--end modal for Notification-->
    
    
    
    
    
  <script src="{{ url_for('static',filename='js/util.js')}}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{{ url_for('static',filename='js/menu-aim.js')}}"></script>
  <script src="{{ url_for('static',filename='js/main.js')}}"></script>
    
  <!--Script for Notifications-->
    <script>
        
            var email = '{{email}}';
            var cnt= document.getElementById("notifycnt");
        
        function notificationmodal(messageText,timeCreated,notificationID2sent){
                    
                    //alert("Notification Clicked");
                    
                    //notificationID=this.getAttribute("id");
                    console.log("NotificationID in modal function"+notificationID2sent);
                    var messageDiv = document.getElementById("messageText");
                    
                    var timeCreatedText = document.getElementById("timeCreatedText");
                    var cntval = parseInt( cnt.innerText);
                    console.log(cnt.innerText);
                    console.log(cntval);
                    messageDiv.innerText = messageText;
                    timeCreatedText.innerText = timeCreated;

                    var l = document.getElementById(notificationID2sent);

                    l.style.backgroundColor="transparent";
                    cntval= cntval - 1;
                    if(cntval == 0){
                      cnt.style.display="none";
                    }
                    cnt.innerText = cntval;

                    console.log(cnt.innerText);
                    console.log(cntval);

                     console.log(l.style);
                    $.get("{{url_for('backendapp.update_notification_status')}}",{notificationID:notificationID2sent},
                
                    function(response){
                    if(response["status"]=="1"){   
                        console.log(" Marked Read");
                       // myFunction();
                }

  
              },"json");  
        }


        function oldnotificationmodal(messageText,timeCreated,notificationID2sent){
                    
                    //alert("Notification Clicked");
                    console.log("old notificationmodal");
                    var messageDiv = document.getElementById("messageText");
                    
                    var timeCreatedText = document.getElementById("timeCreatedText");
                    messageDiv.innerText = messageText;
                    timeCreatedText.innerText = timeCreated;

                  /*  $("#exampleModal").modal('show');*/
                }

        function myFunction() {

       console.log("calllled");
       $.post("{{url_for('backendapp.get_emp_notifications')}}",{email_id:email},
                
                function(response){
                  //check if what response is   
                  
                    console.log(response);
                    var status = response["new_notification"];
                    var notification =[];
                    notification = response["notifis"];

                    if(response["count"]==0){
                      cnt.style.display="none";
                    }else{

                    cnt.style.display="inline";  
                    cnt.innerHTML = response["count"];
                    }
                    if(status == "1"){
                            console.log("New Notification"); 
                            for (i = 0; i < notification.length; i++) {
                                
                            
                                var msg = notification[i]["message"];
                                var read = notification[i]["read"];
                                var notificationID =notification[i]["notificationID"];
                                var timeCreated = notification[i]["timeCreated"];
                                var node = document.createElement("LI");
                                var textnode = document.createTextNode(notification[i]["message"]);
                                node.appendChild(textnode);
                                node.classList.add("cd-nav__sub-item");
                                node.setAttribute("data-toggle","modal");
                                node.setAttribute("data-target","#notificationModal");
                                node.setAttribute("id",notificationID);
                                node.style.padding="5px";
                                      
                                if(read == false){
                                      console.log("New Notification------read false");
                                      node.style.backgroundColor="grey";
                                
                                }  
                                console.log("New Notification------read true");
                                console.log(notificationID);
                            node.setAttribute("onclick","notificationmodal('"+msg+"','"+timeCreated+"','"+notificationID+"');");
                                /*node.addEventListener("click",
                                              function(){ 
                                    notificationmodal(msg,timeCreated,notificationID);},false);*/
                                document.getElementById("notify").appendChild(node);

                
                            }
                            
                        
                        
                    }else{
                        
                        console.log("Old Notification"); 
                        console.log(notification);
                        for (i = 0; i < notification.length; i++) {
                        var msg = notification[i]["message"];
                        var notificationID =notification[i]["notificationID"];
                        var timeCreated = notification[i]["timeCreated"];
                        var node = document.createElement("LI");
                        var textnode = document.createTextNode(notification[i]["message"]);
                        node.appendChild(textnode);
                        node.classList.add("cd-nav__sub-item");
                        node.setAttribute("data-toggle","modal");
                        node.setAttribute("data-target","#notificationModal");
                        node.setAttribute("id",notificationID);
                        node.style.padding="5px";
                        console.log("TimeCreated : "+timeCreated);
                        node.setAttribute("onclick","oldnotificationmodal('"+msg+"','"+timeCreated+"','"+notificationID+"');");
                        
                        /*node.addEventListener("click",
                                              function(){ 
                            oldnotificationmodal(msg,timeCreated);},false);*/
                        document.getElementById("notify").appendChild(node);
                           
                        }
                        
                        
                    }
                
                function oldnotificationmodal(messageText,timeCreated){
                    
                    //alert("Notification Clicked");
                    console.log("TIME IN FUNCTION "+timeCreated);
                    var messageDiv = document.getElementById("messageText");
                    
                    var timeCreatedText = document.getElementById("timeCreatedText");
                    messageDiv.innerText = messageText;
                    timeCreatedText.innerText = timeCreated;
                }
           
                
            
                    
                
              },"json");
   
        }
        
        myFunction();
        //  setInterval(function(){ myFunction(); }, 300000);
    
        
        
        function markallread(){

             $.post("{{url_for('backendapp.update_all_notifications_status')}}",{email_id:email},
                
                function(response){
                 if(response["status"]=="1"){   
                     alert("All Marked Read");
                     var l = document.getElementById("notify").querySelectorAll("LI");
                     console.log(l);
                     for(i = 0; i < l.length; i++){
                     
                     l[i].style.backgroundColor="transparent"; 

                   }
                     cnt.style.display="none";
                 }
  
              },"json");  
        }
        
        
    </script> 
    
</body>
</html>