{% extends "emp_sidebar.html" %}
{% block body %}


<script>
         
var bar;
  /*********************************ABHAY****************************************************************/  
function alertAdmin(element,notificationid,email,file,from,time)
        {
            console.log("function alertAdmin Called");
            $.post("{{url_for('backendapp.file_not_arrived_complain')}}",{notificationid:notificationid,email:email,file:file,from:from,time:time},
                   function(response){
                    //check if what response is  
                    if(response["status"]==="1")
                        {
                            //element.target.parentNode.removeEventListener;
                            element.parentNode.innerHTML='<i class="fas fa-check-square"> Alerted</i>';
                        }

            },"json");
        }
  /*********************************ABHAY****************************************************************/        
function loadfiles(){
      var email = '{{email}}';
      var table = document.getElementById("worktable").getElementsByTagName('tbody')[0];
      var table2 = document.getElementById("comptable").getElementsByTagName('tbody')[0];
      var table3 = document.getElementById("arrfiles").getElementsByTagName('tbody')[0];
      table.innerHTML="";
      table2.innerHTML="";
      table3.innerHTML="";
      var d = new Date();
      
      console.log("function loadfiles calllled");
       $.post("{{url_for('backendapp.get_emp_stats')}}",{email_id:email},
                
                function(response){
           
                    console.log(response);
           
                  //check if what response is   
                   console.log(" load files response received");
                    var currFiles = response["details"]["currFiles"];
                    console.log("heowiwwwjeew"+currFiles.length)
                    var prevFiles = response["details"]["prevFiles"];
                    var arrfiles = response["details"]["incomingFiles"];
                    //console.log(response["details"]["incomingFiles"]);
                   // console.log(prevFiles);
                  if(currFiles.length==0)
                  {
                    //  console.log(currFiles.length); 
                      //var processthead = document.getElementById("processthead");
                      table.innerHTML='<th scope="col">No files currently.</th>';
                  }
                  else
                  {
                    
                    for (i = 0; i < currFiles.length; i++) {
                        //console.log(currFiles[i]['fid']);
                        var row = table.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        
                        
                        cell1.innerHTML = currFiles[i]['fid'];
                        cell2.innerHTML = currFiles[i]['timeArrived'];

                    //    console.log(currFiles[i]["lastStep"]);
                        var digital = currFiles[i]['digital'];

                        if(currFiles[i]["lastStep"]== true && digital==true){
                            
                            
                                    cell3.innerHTML ='<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#FileManageModal" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Manage File</button>'+'<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Done</button>';
                              
                              
                        }
                        else if(currFiles[i]["lastStep"]== true && digital==false){
                                
                                cell3.innerHTML = '<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Done</button>';
    
                        }
                        else{

                            if(currFiles[i]['delay'] > 0 ){
                                
                                if(digital){
                                    
                                    cell3.innerHTML ='<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#FileManageModal" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Manage File</button>'+ '<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#staticBackdrop" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Forward</button>';
                                          
                                    
                                }else{
                                    
                                    cell3.innerHTML = '<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#staticBackdrop" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Forward</button>';
                                    
                                }

                                
                            }else{
                                
                                
                                if(digital){
                                    
                                    cell3.innerHTML ='<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#FileManageModal" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Manage File </button>' +'<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Forward</button>';
                                          
                                    
                                }else{
                                    
                                    cell3.innerHTML = '<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="setfilename(\''+ currFiles[i]['fid'] +'\')">Forward</button>';
                                    
                                }


                            }
                      }
                        
                        cell4.innerHTML = currFiles[i]['delay']; 
                    }
                  }

                    if(prevFiles.length == 0)
                    {
                       // console.log(prevFiles.length); 
                        //var comthead = document.getElementById("comthead");
                        table2.innerHTML='<th scope="col">No files currently.</th>';


                    }
                    else{

                     
                    for (i = 0; i < prevFiles.length; i++) {
                        //console.log(prevFiles[i]);
                        var row = table2.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
      
                        
                       cell1.innerHTML = prevFiles[i]['fid'];
                        cell2.innerHTML = prevFiles[i]['timeArrived'];
                        cell3.innerHTML = prevFiles[i]['timeCompleted'];
                        cell4.innerHTML = prevFiles[i]['delay']; 
                    }
                  }
                    

                    if(Object.keys(arrfiles).length === 0 && arrfiles.constructor === Object){

                      //console.log(prevFiles.length); 
                        //var arrthead = document.getElementById("arrthead");
                        table3.innerHTML='<th scope="col">No files currently.</th>';

                    }
                    else{
                     
                    console.log(arrfiles); 
                    for (var key in arrfiles) {
                        console.log(key);
                        console.log(new Date(arrfiles[key]['time']).getTime()/1000);
                        var from = String(arrfiles[key]["from"]).split(' ').join('_');
                        var time = new Date(arrfiles[key]['time']).getTime()/1000;
                        console.log("From "+from);
                        var row = table3.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
      
                        
                       cell1.innerHTML = key;
                       cell2.innerHTML = arrfiles[key]["time"];
                        
                        var digital = arrfiles[key]["digital"];

                        if(digital){
                            
                            var filename = arrfiles[key]["filename"];
                            cell3.innerHTML = '<button type="button" class="btn btn-primary"'+ 'onclick=downloadFile("'+key+'","'+filename+'")>Download File</button>';
                            
                        }else{
                            
                            cell3.innerHTML = '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Scan File</button>'     
                        }    
                        
                       ;
                       if(arrfiles[key]['alert']===false)
                           {
                               cell4.innerHTML = '<button type="button" class="btn btn-primary"'+ 'onclick=alertAdmin(this,"'+key+email+'","'+email+'","'+key+'","'+from+'","'+time+'")>Send Alert</button>';
                               //cell4.addEventListener('click',alertAdmin());
                           
                           }
                       else
                           {
                               cell4.innerHTML = '<i class="fas fa-check-square "> Alerted</i>';
                           }
                         
                    }
                  }
                
              },"json");
  
}
        
        
function myFunctionScan() {

    console.log("my function Scan Called"); 
    //var xmlhttp = new XMLHttpRequest();
    var table = document.getElementById("worktable");
    bar = document.getElementById("result").textContent;
 
    var d = new Date();
    var dept_id = "{{ session.get(email[:-10]+'_dept_id')}}";
    var email = '{{email}}';

    var dataString = {'bcodeTxt':bar,'deptID':dept_id,'email':email};
    console.log('Data String......');
    console.log(dataString);
      
      $.post("{{url_for('backendapp.bcode_entry')}}",{bcodeTxt:bar,deptID:dept_id,email:email},
                
                function(response){
                  //check if what response is   
                    console.log('function bcode entry response');
                    if(response["status"]==="1"){
                        loadfiles();
                    }

              },"json");
  
}
        
function setfilename(filename){
    bar=filename;
}
        
        
function remarkfunct(){
    var remarksend = document.getElementById("remark").value;
    console.log("forward request send");

    $.get("{{url_for('backendapp.forward')}}",{remark:remarksend,filename:bar},
                
                function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        loadfiles();
                    }
                    
                
              },"json");
    
    
}
    </script>
  
<!--END Script for add new row for a file--> 
 
<body id="bod">

<div class="container shadow p-3 mb-5 bg-white rounded">
		
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="text-decoration: none; padding-top: 10px;" onclick="loadfiles();">Arrived File</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="text-decoration: none; padding-top: 10px;" onclick="loadfiles();">Processing Files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="text-decoration: none; padding-top: 10px;" onclick="loadfiles();">Completed Files</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
 <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="title">
       <!-- <h1 align="center">Arriving Files</h1>-->
      </div>


      <table class="table" id="arrfiles" style="font-size: 16px; text-align: center">
      <thead id="arrthead">
        <tr>
          <th scope="col"><i class="fas fa-file-alt" > File ID</i></th>
          <th scope="col"><i class="fas fa-clock" > Arrival Time</i></th>
          <th scope="col"><i class="fas fa-qrcode" > Update Status</i></th>
          <th scope="col"><i class="fas fa-exclamation-triangle"> Not Received</i></th>

        </tr>
      </thead>
      <tbody id='workTbdy'>
        <tr>
          <td id="loading"><i class="fas fa-spinner fa-lg"> Loading...</i></td>
        </tr>
        <!--  <tr>
          <th scope="row">id3u40</th>
          <td>11:34</td>
          <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">Scan</button></td>
          <td>--</td>
        </tr> -->
      </tbody>
    </table>
  
  </div>


   <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        
    <div class="title">
      <!--  <h1 align="center">Processing Files</h1>-->
      </div>


      <table class="table" id="worktable" style="font-size: 18px; text-align: center">
      <thead id="processthead">
        <tr>
          <th scope="col"><i class="fas fa-file-alt" > File ID</i></th>
          <th scope="col"><i class="fas fa-clock" > Arrival Time</i></th>
          <th scope="col"><i class="fas fa-share" > Forward</i></th>
          <th scope="col"><i class="fas fa-clock" > Delay</i></th>

        </tr>
      </thead>
      <tbody id='workTbdy'>
          <!--  <tr>
          <th scope="row">id3u40</th>
          <td>11:34</td>
          <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">Forward</button></td>
          <td>--</td>
        </tr>-->
      </tbody>
    </table>

  </div>


  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
           <div class="title">
        <!--<h1 align="center">Completed Files</h1>-->
      </div>


      <table class="table" id="comptable" style="font-size: 18px; text-align: center">
      <thead id="comthead">
        <tr>
          <th scope="col"><i class="fas fa-file-alt" > File ID</i></th>
          <th scope="col"><i class="fas fa-clock" > Arrival Time</i></th>
          <th scope="col"><i class="fas fa-hourglass-end" > Time Completed</i></th>    
          <th scope="col"><i class="fas fa-clock" > Delay</i></th>

        </tr>
      </thead>
      <tbody id='compTbdy'>
       <!-- <tr>
          <th scope="row">id3u40</th>
          <td>11:34</td>
          <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">Forward</button></td>
          <td>--</td>
        </tr>-->

      </tbody>
    </table>
    
  </div>


</div>
</div>
<!-- Button trigger modal -->


<!-- Model for forward button -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-share fa-lg" >Forwarded To Next Stage</i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            
            <div>
            <!-- remark ip-->
            
                <div class="form-group">
                                 <label for="remark"><i class="fas fa-sticky-note "> Remark:</i></label>
                                <textarea class="form-control" rows="5" id="remark"  value="" required></textarea>
                    </div>
            
            </div>
         
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="remarkfunct()">Confirm</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--end modal for forward button-->


<!-- Modal for Scan File-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-qrcode fa-lg"> Scan File Barcode</i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  style="padding-bottom: 1rem">
        <!-- Scanner Box-->
      	<div class="row justify-content-md-center">
    	<video muted autoplay id="video" playsinline="true" style="width:500px;height:500px;" poster="{{ url_for('static',filename='img/qr-scanner.jpg')}}"></video>
  		</div>
          <div id="result" style="align:centre; margin-top: 0rem"></div>
  		<button class="btn btn-primary" id="go" style="align:centre; margin-top: 0.5rem;">Scan Barcode</button>
        <button class="btn btn-primary" style="align:centre; margin-top: 0.5rem;" onclick="myFunctionScan()" data-dismiss="modal">Update Status</button>  
          <!-- Scanner Box content end -->
      </div>
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>
<!--end modal for scan-->
    

<!-- Model for FileManageModal button ---------------------------------------------------->
<div class="modal fade" id="FileManageModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-tasks fa-lg" > Manage Your Digital File</i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
            
            <div class="row" style="padding: 20px">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="download_modal_btn">Download</button>
            </div>
          
            <div class="row" style="padding: 20px">   
                
                     <input type="file"class="form-control-file" id="file_picker">
            </div> 
                
            <div class="row" style="padding: 20px">
                    <button type="button" class="btn btn-outline-primary" onclick="">Upload</button>
            </div>
            
            <div class="row" style="padding: 20px">   
                
                 <div id="loader" style="display: none">Uploading File...</div>
            </div> 
                
                
         
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------end modal for FileManageModal button--------------------->    
    
<!----------------------- Download button Script ------------------------------->    
    
    
<script>
    
document.getElementById("download_modal_btn").addEventListener("click", function(){
  downloadFile(bar);
});    
    
    
function downloadFile(filename){
    
    console.log("download file called");
    console.log(filename);
    
   /* $.post("url",{fif:fileid},
                
          function(response){
                       
              },"json");
       */
    
}
    
    
    
    </script>    
    
<!----------------------- Download button Script ------------------------------->    
    
 
<!----------------------- Upload button Script ------------------------------->    
    
    
<script>
    
    
var formdata = new FormData();

/*$('#file_picker').change(function(){
    //on change event
    if($(this).prop('files').length > 0)
    {
        file =$(this).prop('files')[0];
        formdata.append("file", file);
        var value = $("#appid").val();
        formdata.append("q", value);
        for (var key of formdata.entries()) {
        console.log(key[0] + ', ' + key[1]);
    }
    }
});*/

   
function upload_file(){
    
    var application = document.getElementById('appid');
   // var label = document.getElementById("Success");
    var loader = document.getElementById("loader");
    loader.style.display ="block";
    label.innerHTML="";
    
    
   
              $.ajax({
                type: "Post",
                url: "",
                data: formdata,
                processData: false,
                contentType: false,
                success: function(response){
                  //check if what response is   
                    console.log(response);
                    if(response["status"]==="1"){
                        
                        console.log('file uploaded ');
                        //label.innerHTML="File Uploaded Successfully!";
                        //label.style.color = "green";
                        //loader.style.display = "none";

                    }
                    
                    //alert(response);
                } 
              });
    
}    
    
    
</script>    
    
<!----------------------- Upload button Script ------------------------------->     
    
    
  
   <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css')}}">-->
<script async src="{{ url_for('static',filename='js/zxing.js')}}"></script>
<script src="{{ url_for('static',filename='js/video.js')}}"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script> 
 
</body>
<script>/*document.getElementById("bod").onload = loadfiles;*/
window.onload= function () {
  var loading = document.getElementById("loading");
  loading.style.display = "none";
  loadfiles();
}
</script>

{% endblock %}