{% extends "admin/admin_sidebar.html" %}
{% block body %}
<style type="text/css">
  #show_no_result{
    display: none;
  }
</style>
   
<body>


    <div class="container1 register-form">
            <div class="form">
                <div class="note">
                    <p>SEARCH FILE</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="apidin" class="form-control" placeholder="Enter Application ID" value="" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="">
                                <button type="button" class="btn btn-primary"  onclick="myfunctinp()">Search</button>
                            </div>    
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="">
                               <p>OR</p>
                            </div>    
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Scan File</button>

                            </div>
                            
                        </div>
    
                    </div>
                    
                        <div class="container1 shadow p-3 mb-5 bg-white rounded">
		
			<table class="table" id="worktable">
		  <thead>
		    <tr>
		      <th scope="col">FileID</th>
		      <th scope="col">Current Dept</th>
		      <th scope="col">Delayed By</th>
		      <th scope="col">Track Details</th>
          <th scope="col">Estimated Date</th>
		    </tr>
		  </thead>
		  <tbody>
        <!--
		    <tr>
		      <th scope="row">id3u40</th>
		      <td>11:34</td>
		      <td>Dept Name</td>
		      <td>delay time</td>
		      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" onclick="setfilename(\''+ bar +'\')">Track </button></td>
		    </tr>-->
		  </tbody>
		</table>

</div>
                    
                    
                </div>
            </div>
        </div>


<button id="myBtn" style="display: none;"></button>
<!-- ye button nhi hoga to javascript problem dega-->
<!-- The Modal -->
<div id="myModal" class="modalt" >

  <!-- Modal content -->
  <div class="modal-contentt" style="background-color: gray;">
    <span id= "span_close" class="close" onclick="span_close()"></span>
    <div class="timelinet" id="time"></div>
  </div>

</div>

<div class="col-sm shadow p-3 mb-5 bg-white rounded" style="margin-left: 10px;" id="show_no_result">
  
</div>


    

<!--Script for add new row for a file-->
 <script>
  /*var url=localStorage.getItem("url");*/
  

 function myfunctinp(){
   document.getElementById("show_no_result").style.display="none";
    var bar = document.getElementById('apidin').value;
    var table = document.getElementById("worktable").getElementsByTagName('tbody')[0];
    table.innerHTML="";
     var elem =document.getElementById('time');
    console.log(table);

    $.get("{{url_for('get_file_path')}}",{q:bar},
                
                function(response){
                  //check if what response is 
                  console.log(response);  
                    console.log(response['list'].length);
                    //if(response["status"]==="1"){
                       
                        var row = table.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5=row.insertCell(4);
                        
                        
                        var currEmp = response["currEmp"] ;
                        var currDept = response['currDept'];
                        var scaned = response["scanned"];
                        
                        //var i = response["list"].length;
                        console.log(response);
                        var timeline_response=response['list'];
                        //console.log("djfbkdjbfkjbfksj"+timeline_response);
                        cell1.innerHTML = bar;
                        cell2.innerHTML = response['currDept'];//['list'][i-1]
                        cell3.innerHTML = response['delayedBy'];
                        cell4.innerHTML = '<button id="myBtn1" class="btn btn-primary" onclick="modal_display()">Track</button>';
                        cell5.innerHTML=response['estimate_date']

                          
                    //}
                    var codeblock="";
        
        //var not_scaned = response["lastScanTime"]
        
        
       
            for (var i = 0; i < response['list'].length; i++) {
              if(i%2==0)
                    {
                      codeblock = codeblock+'<div class="containert leftt"><div class="contentt"><p><b>Employee ID:'+response['list'][i]['empID']+'</b></p><p><b>Department ID: </b>'+response['list'][i]['deptID']+'</p><p><b>Remark: </b>'+response['list'][i]["remark"]+'</p></div></div>';
                  }
                else
                  {
                  codeblock = codeblock+'<div class="containert rightt"><div class="contentt"><p><b>Employee ID:'+response['list'][i]['empID']+'</b></p><p><b>Department ID: </b>'+response['list'][i]['deptID']+'</p><p><b>Remark: </b>'+response['list'][i]["remark"]+'</p></div></div>';
                 }
                  
              }
        
        if (scaned == false){
                        console.log(currEmp);
            if(i%2==0)
                    {
                      codeblock = codeblock+'<div class="containert leftt" ><div class="contentt" style = "border-style: dashed;"><p><b>Employee ID:'+currEmp+'</b></p><p><b>Department ID: </b>'+currDept+'</p><br><b style = "color:red;">Not Yet Scanned.</b></div></div>';
                        }
            else{
                codeblock = codeblock+'<div class="containert rightt"><div class="contentt"><p><b>Employee ID:'+currEmp+'</b></p><p><b>Department ID: </b>'+currDept+'</p><br><b style = "color:red;">Not Yet Scanned.</b></div></div>';
            }
        
        
        }

        if (response['fileDone']){
          /*
          if(i%2==0)
                    {
                      codeblock = codeblock+'<div class="containert leftt" ><div class="contentt" style = "border-style: dashed;"><p><b>Employee ID:'+currEmp+'</b></p><p><b>Department ID: </b>'+currDept+'</p><br><b style = "color:red;">Not Yet Scanned.</b></div></div>';
                        }
            else{
                codeblock = codeblock+'<div class="containert rightt"><div class="contentt"><p><b>Employee ID:'+currEmp+'</b></p><p><b>Department ID: </b>'+currDept+'</p><br><b style = "color:red;">Not Yet Scanned.</b></div></div>';
            }*/
            cell4.innerHTML = '<button id="myBtn1" class="btn btn-primary" onclick="modal_display()">Track</button>';
        
          document.getElementById("show_no_result").style.display="block";
          document.getElementById("show_no_result").innerHTML="<p align='center'>File process Done Sucessfully</p>";
        }
           

                  elem.innerHTML=codeblock;
            
            /*
           timeline_response[i]['empID']
           timeline_response[i]['empID']
           timeline_response[i]["remark"]*/
                
              },"json");


 }


 function myFunctionscan(){
   document.getElementById("show_no_result").style.display="none";
    var bar2 = document.getElementById('result').textContent;
    var table = document.getElementById("worktable").getElementsByTagName('tbody')[0];
   var elem =document.getElementById('time');
    table.innerHTML="";


    $.get("{{url_for('get_file_path')}}",{q:bar2},
                
                function(response){
                  //check if what response is   
                    console.log(response['list']);
                    //if(response["status"]==="1"){
                        var row = table.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5=row.insertCell(4);
      
                        var currEmp = response["currEmp"] ;
                        var currDept = response['currDept'];
                        var scaned = response["scanned"];
                        
                        //var i = response["list"].length;
                        console.log(response);
                        var timeline_response=response['list'];
                        //console.log("djfbkdjbfkjbfksj"+timeline_response);
                        cell1.innerHTML = bar2;
                        cell2.innerHTML = response['currDept'];//['list'][i-1]
                        cell3.innerHTML = response['delayedBy'];
                        cell4.innerHTML = '<button id="myBtn1" class="btn btn-primary" onclick="modal_display()">Track</button>';
                        cell5.innerHTML=response['estimate_date']
                        
                    //}


                    var codeblock="";
            for (var i = 0; i < response['list'].length; i++) {
              if(i%2==0)
                    {console.log(timeline_response[i]['empID']);
                      codeblock = codeblock+'<div class="containert leftt"><div class="contentt"><p><b>Employee ID:'+timeline_response[i]['empID']+'</b></p><p><b>Department ID: </b>'+timeline_response[i]['deptID']+'</p><p><b>Remark: </b>'+timeline_response[i]["remark"]+'</p></div></div>';}
                  else
                  {
                  codeblock = codeblock+'<div class="containert rightt"><div class="contentt"><p><b>Employee ID:'+timeline_response[i]['empID']+'</b></p><p><b>Department ID: </b>'+timeline_response[i]['deptID']+'</p><p><b>Remark: </b>'+timeline_response[i]["remark"]+'</p></div></div>';
                 }
                  
              }

              if (scaned == false){
                        console.log(currEmp);
            if(i%2==0)
                    {
                      codeblock = codeblock+'<div class="containert leftt" ><div class="contentt" style = "border-style: dashed;"><p><b>Employee ID:'+currEmp+'</b></p><p><b>Department ID: </b>'+currDept+'</p><br><b style = "color:red;">Not Yet Scanned.</b></div></div>';
                        }
            else{
                codeblock = codeblock+'<div class="containert rightt"><div class="contentt"><p><b>Employee ID:'+currEmp+'</b></p><p><b>Department ID: </b>'+currDept+'</p><br><b style = "color:red;">Not Yet Scanned.</b></div></div>';
            }
        
        
        }

              if (response['fileDone']){
                
          document.getElementById("show_no_result").style.display="block";
          document.getElementById("show_no_result").innerHTML="<p align='center'>File process Done Sucessfully</p>";
        }
                  elem.innerHTML=codeblock;
            
 
              },"json");

 }



 
</script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");


// Get the <span> element that closes the modal
var span1 = document.getElementById("span_close");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  console.log('gsghjshvfkjhsf');
  modal.style.display = "block";
}

function modal_display(){
  
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal

span1.onclick = function() {
  modal.style.display = "none";
}

function span_close(){
  console.log('gsghjshvfkjhsf');
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>




    
    
<!-- Modal for Scan File-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Scan File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  style="padding-bottom: 1rem">
        <!-- Scanner Box-->
      	<div class="row justify-content-md-center">
    	<video muted autoplay id="video" playsinline="true" style="width:500px;height:500px;" poster="{{ url_for('static',filename='img/qr-scanner.jpg')}}"></video>
  		</div>
          <div id="result" style="align:centre; margin-top: 0rem"></div>
  		<button class="btn btn-primary" id="go" style="align:centre; margin-top: 0.5rem;">Scan Barcode</button>
        <button class="btn btn-primary" style="align:centre; margin-top: 0.5rem;" onclick="myFunctionscan()" data-dismiss="modal">Search File</button>  
          <!-- Scanner Box content end -->
      </div>
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>
<!--end modal for scan-->
  		
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css')}}">-->
<script async src="{{ url_for('static',filename='js/zxing.js')}}"></script>
<script src="{{ url_for('static',filename='js/video.js')}}"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js')}}"></script> 
    
    



</body>

{% endblock %}



 <!--
Button change karna hai modal ke liye
backend se data uthana hai
sabhi script tags ko niche defined karna hai
bootstarp ko responsive banana hai.

 -->